/* .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
}

.text-center {
  padding-top: 30px;
  padding-bottom: 20px;
}

#btn2 {
  color: #000;
}

.btn:hover {
  background-color: black;
  color: #fff;
}

#btn2:hover {
  background-color: black;
  color: #fff;
}

.navbar-brand {
  color: #000;
}

.nav-link {
  color: #000;
}

.link:hover {
  text-decoration: none;
}

.link2 {
  color: red;
}

.panel {
  color: red;
}

.container {
  background-color: #fcf8ec;
} */

.box {
  margin-top: 55px;
}

.container {
  max-width: 960px;
  margin-top: 60px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.lh-condensed {
  line-height: 1.25;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.genm {
  margin-right: 10px;
  margin-left: 5px;
}

.gen {
  margin-right: 10px;
  margin-left: 5px;
}
